body main .skeleton article, .animation {
  -webkit-animation: titilar infinite 1s;
          animation: titilar infinite 1s;
}

@-webkit-keyframes titilar {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes titilar {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.4;
  }
}

header {
  height: 7vh;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 10;
}

header .title {
  text-decoration: none;
}

header .title:hover {
  text-decoration: none;
}

header button {
  border-width: 0;
  background-color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  font-size: 17px;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

header button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  background-color: #FAFAFA;
}

@media (max-width: 1047px) {
  main {
    gap: 50px !important;
  }
  .description nav {
    width: 50vw !important;
  }
}

@media (max-width: 910px) {
  .description {
    width: 70vw;
    gap: 10px;
  }
  .description nav {
    width: 55vw !important;
  }
  .description div {
    gap: 10px;
  }
  #back {
    margin: 6vh 7vw !important;
  }
  img {
    width: 60vw !important;
  }
}

@media (max-width: 798px) {
  .description nav {
    width: 80vw !important;
  }
}

@media (max-width: 610px) {
  img {
    width: 80vw !important;
  }
  article {
    margin: 20px;
  }
  .description div {
    padding-left: 0px;
  }
  .description div article {
    margin: 0;
  }
  .description nav {
    margin-bottom: 20px;
  }
}

@media (max-width: 522px) {
  h1 {
    font-size: 25px;
  }
  header {
    padding: 15px;
  }
  header button {
    font-size: 15px;
    display: inline;
  }
  header button span {
    margin-right: 5px;
  }
}

@media (max-width: 397px) {
  h1 {
    font-size: 23px;
  }
  header button {
    font-size: 13px;
  }
}

@media (max-width: 368px) {
  h1 {
    font-size: 17px;
  }
  header button {
    font-size: 11px;
  }
}

img {
  width: 40vw;
  background-color: lightgrey;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
}

main .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .description nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40vw;
  gap: 10px;
}

main .description nav button {
  font-family: "Nunito Sans", sans-serif;
  background-color: #FAFAFA;
  border-radius: 5px;
  border-width: 2px;
  border-color: #d8d5d5;
  border-style: solid;
  padding: 5px 20px;
}

#back {
  position: relative;
  margin: 10vh 15vw;
  font-family: "Nunito Sans", sans-serif;
  background-color: #FAFAFA;
  border-radius: 5px;
  border-width: 2px;
  border-color: #d8d5d5;
  border-style: solid;
  padding: 5px 50px;
}

#back span {
  position: absolute;
  left: 25px;
  top: 7px;
}

.border-country:hover, #back:hover {
  cursor: pointer;
}
/*# sourceMappingURL=country.css.map */